#logo {
    display:inline-block
}

#plant{
    padding-left:13px;
    padding-right:13px;
}


#title {
    font:40px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#222;
    font-weight:300;
    display:inline-block;
    height:40px
}

#map {
    height:100%;
    width:100%;
    overflow:hidden;
    height:-moz-calc(100% - 173px);
    height:-webkit-calc(100% - 173px);
    height:calc(100% - 173px)
}

#search_address {
    -webkit-appearance:none;
    border-radius:0;
    font:40px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    max-width:370px;
    background-color:transparent;
    border-style:dashed;
    border-width:0 0 1px;
    border-color:#222;
    outline:0
}

.stButton .chicklets {
    padding:0 10px 0 0
}

header {
    height:75px;
    padding:15px
}

footer {
    padding:15px 15px 25px
}

.link {
    height:28px;
    font:28px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration:none;
    color:#222;
    text-align:left;
    padding:0 10px 0 0
}

html,body {
    height:100%;
    margin:0
}

@media (max-width: 722px) {
    header {
        text-align:center;
        height:115px;
        padding:15px
    }

    #map {
        top:40px;
        height:100%;
        width:100%;
        overflow:hidden;
        height:-moz-calc(100% - 213px);
        height:-webkit-calc(100% - 213px);
        height:calc(100% - 213px)
    }
    
    footer {
        bottom:0;
        text-align:center;
        padding:15px
    }
}

@media (max-width: 667px) {
    header {
        text-align:center;
        height:165px;
        padding:15px
    }

    #search_address {
        text-align:center;
    }
    
    #map {
        top:40px;
        height:100%;
        width:100%;
        overflow:hidden;
        height:-moz-calc(100% - 263px);
        height:-webkit-calc(100% - 263px);
        height:calc(100% - 263px)
    }

    .link {
        height:20px;
        font:20px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-decoration:none;
        color:#222;
        text-align:left;
        padding:0 10px 0 0
    }
}

@media (max-width: 400px) {
    header {
        text-align:center;
        padding-bottom:0
    }
    
    #logo {
        margin-left:auto;
        margin-right:auto;
        display:inline-block
    }
    
    #title {
        font:30px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-align:center;
        color:#222;
        font-weight:300;
        display:inline-block;
        height:40px
    }
    
    #search_address {
        -webkit-appearance:none;
        text-align:center;
        border-radius:0;
        font:30px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
        width:100%;
        width:-moz-calc(100% - 30px);
        width:-webkit-calc(100% - 30px);
        width:calc(100% - 30px);
        background-color:transparent;
        border-style:dashed;
        border-width:0 0 1px;
        border-color:#222;
        outline:0
    }
    
    .link {
        height:20px;
        font:20px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-decoration:none;
        color:#222;
        text-align:left;
        padding:0 10px 0 0
    }
    
    footer {
        bottom:0;
        text-align:center;
        padding:15px
    }
}

@media (max-width: 380px) {
    header {
        text-align:center
    }
    
    #title {
        font:30px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
        color:#222;
        font-weight:300;
        display:inline-block;
        height:40px
    }
    
    #search_address {
        -webkit-appearance:none;
        left:-15px;
        border-radius:0;
        font:30px Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
        width:100%;
        width:-moz-calc(100% - 30px);
        width:-webkit-calc(100% - 30px);
        width:calc(100% - 30px);
        background-color:transparent;
        border-style:dashed;
        border-width:0 0 1px;
        border-color:#222;
        outline:0
    }
    
    #map {
        top:40px;
        height:100%;
        width:100%;
        overflow:hidden;
        height:-moz-calc(100% - 298px);
        height:-webkit-calc(100% - 298px);
        height:calc(100% - 298px)
    }
    
    footer {
        text-align:center
    }
}