html, body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 5px 0;
}

.hidden {
  display: none;
}

#sidebar {
  color: #222;
  font-weight: 300;
  width: 35%;
  height: 100%;
  display: table-cell;
}

#sidebar > div {
  padding: 15px 20px 5px 20px;
}

#titleBox {
  font-family: Dosis, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #257625;        
  padding: 10px 90px 10px 0px;
  margin-bottom: 10px;
  color: white;
}

#container {
  display: table-cell;
  position: relative;
}

#contents {
  width: 100%;
  height: 100%;
  display: table;
}


#title {
  font-size: 50px;
  padding: 15px 20px 5px 0;
}

#subtitle {
  font-size: 20px;
  padding: 0 20px 5px 0;
  line-height: 40px;
}

#subtitle a {
  color: white;
}

button a {
  color: #222;
}

.message {
  font: 11px/normal 'Lucida Grande';
}


#failures {
  padding-top: 5px;
  margin-top: 10px;
  display: block;
  max-height: 120px;
  width: 100%;
  overflow: auto
}

#failures.hidden {
  display: none;
}

#tipJar {
  border: 2px white solid;
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

#map {
  height: 100%;
  width: 65%;
  overflow: hidden;
  display: table-cell
}
